/* Espaço para o GIF */
.espaco-gif {
  width: 100%;
  height: 180px; /* você pode aumentar ou reduzir */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Ajustando a apresentação */
.apresentacao p {
  margin-bottom: 10px; /* deixa mais perto do botão */
}

/* Botão mais próximo */
.cta {
  margin-top: 5px;
}
