/* Imagem grande no topo */
.imagem-topo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 10px 0;
}

.img-grande {
  width: 80%;       /* tamanho grande e responsivo */
  max-width: 900px; /* limite máximo */
  border-radius: 10px;
}

/* Aproxima texto do botão */
.apresentacao p {
  margin-bottom: 8px;
}

.cta {
  margin-top: 5px;
}
